{{ define "main" }}
<section class="post grid grid-cols-1 xl:grid-flow-col xl:grid-cols-2 col-gap-4" id="main">
  <div class="text-base font-light col-span-1"> {{ .ReadingTime }} minute read</div>
  <h1 class="col-span-1" id="title">{{ .Title }}</h1>
  <article class="col-span-1" id="content">
      {{ .Content }}
  </article>
  <div class="text-base font-light col-span-1">Published on <time pubdate>{{ .PublishDate.Format "Jan 2, 2006" }}</time></div>
  <div class="col-span-1">
      {{ with .PrevInSection }}
      <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
      {{ end }}
      {{ with .NextInSection }}
      <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
      {{ end }}
  </div>
  <aside class="xl:row-span-5 col-span-1"></aside>
</section>
{{ end }}

