{{ $fontLight := resources.Get "fonts/CircularXXSub-LightSubset.woff2" | resources.Fingerprint "sha512" }}
{{ $fontLightWoff := resources.Get "fonts/CircularXXSub-LightSubset.woff" | resources.Fingerprint "sha512" }}
{{ $fontLightItalic := resources.Get "fonts/CircularXXSub-LightItalicSubset.woff2" | resources.Fingerprint "sha512" }}
{{ $fontLightItalicWoff := resources.Get "fonts/CircularXXSub-LightItalicSubset.woff" | resources.Fingerprint "sha512" }}
{{ $fontNormal := resources.Get "fonts/CircularXXSub-RegularSubset.woff2" | resources.Fingerprint "sha512" }}
{{ $fontNormalWoff := resources.Get "fonts/CircularXXSub-RegularSubset.woff" | resources.Fingerprint "sha512" }}
{{ $fontItalic := resources.Get "fonts/CircularXXSub-ItalicSubset.woff2" | resources.Fingerprint "sha512" }}
{{ $fontItalicWoff := resources.Get "fonts/CircularXXSub-ItalicSubset.woff" | resources.Fingerprint "sha512" }}
{{ $fontBold := resources.Get "fonts/CircularXXSub-BoldSubset.woff2" | resources.Fingerprint "sha512" }}
{{ $fontBoldWoff := resources.Get "fonts/CircularXXSub-BoldSubset.woff" | resources.Fingerprint "sha512" }}
{{ $fontBoldItalic := resources.Get "fonts/CircularXXSub-BoldItalicSubset.woff2" | resources.Fingerprint "sha512" }}
{{ $fontBoldItalicWoff := resources.Get "fonts/CircularXXSub-BoldItalicSubset.woff" | resources.Fingerprint "sha512" }}
{{ $fontCode := resources.Get "fonts/SourceCodePro-Regular.ttf.woff2" | resources.Fingerprint "sha512" }}
{{ $fontCodeWoff := resources.Get "fonts/SourceCodePro-Regular.ttf.woff" | resources.Fingerprint "sha512" }}
{{ $fontCodeBold := resources.Get "fonts/SourceCodePro-Bold.ttf.woff2" | resources.Fingerprint "sha512" }}
{{ $fontCodeBoldWoff := resources.Get "fonts/SourceCodePro-Bold.ttf.woff" | resources.Fingerprint "sha512" }}



@font-face {
  font-family: Circular;
  font-weight: 300;
  font-style: normal;
  src: url({{ $fontLight.RelPermalink }}) format('woff2'),
       url({{ $fontLightWoff.RelPermalink }}) format('woff');
}
@font-face {
  font-family: Circular;
  font-weight: 300;
  font-style: italic;
  src: url({{ $fontLightItalic.RelPermalink }}) format('woff2'),
       url({{ $fontLightItalicWoff.RelPermalink }}) format('woff');
}
@font-face {
  font-family: Circular;
  font-weight: 400;
  font-style: normal;
  src: url({{ $fontNormal.RelPermalink }}) format('woff2'),
       url({{ $fontNormalWoff.RelPermalink }}) format('woff');
}
@font-face {
  font-family: Circular;
  font-weight: 400;
  font-style: italic;
  src: url({{ $fontItalic.RelPermalink }}) format('woff2'),
       url({{ $fontItalicWoff.RelPermalink }}) format('woff');
}
@font-face {
  font-family: Circular;
  font-weight: 700;
  font-style: normal;
  src: url({{ $fontBold.RelPermalink }}) format('woff2'),
       url({{ $fontBoldWoff.RelPermalink }}) format('woff');
}
@font-face {
  font-family: Circular;
  font-weight: 700;
  font-style: italic;
  src: url({{ $fontBoldItalic.RelPermalink }}) format('woff2'),
       url({{ $fontBoldItalicWoff.RelPermalink }}) format('woff');
}
@font-face {
  font-family: SourceCodePro;
  font-weight: 400;
  font-style: normal;
  src: url({{ $fontCode.RelPermalink }}) format('woff2'),
       url({{ $fontCodeWoff.RelPermalink }}) format('woff');
}
@font-face {
  font-family: SourceCodePro;
  font-weight: 700;
  font-style: normal;
  src: url({{ $fontCodeBold.RelPermalink }}) format('woff2'),
       url({{ $fontCodeBoldWoff.RelPermalink }}) format('woff');
}
