{{ define "main"}}
<main id="main">
  <div>
    <h1 id="title">
      You're way out in the weeds, traveller.
    </h1>
    <a href="{{ "/" | relURL }}">Go back to start</a>
  </div>
</main>
{{ end }}
