{{ define "main" }}
<main>
  <header class="homepage-header">
    <h1 class="mb-8 ml-5 -indent-5 sm:indent-0 sm:ml-0">{{.Title}}</h1>
    {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}</span>
    {{ end }}
  </header>
  <ol class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
    {{ range where .Pages "Section" "microposts" }}
      {{ range .Pages }}
          <li class="col-span-1">
            {{ partial "partials/micropost" . }}
          </li>
      {{ end }}
    {{ end }}
  </ol>
  <br>
  <div class="homepage-content">
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    {{.Content}}
  </div>
</main>
{{ end }}

