@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  @apply text-lg text-gray-900 dark:text-white dark:bg-gray-900 leading-relaxed subpixel-antialiased p-8;
  font-family: Circular, 'Helvetica Neue', Helvetica, Arial, Roboto, sans-serif;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  font-synthesis: none;
  font-kerning: normal;
}

pre, code, kbd, samp {
  font-family: SourceCodePro,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,liberation mono,courier new,monospace;
  @apply text-xl leading-8;
}

h1 {
  @apply font-bold text-4xl;
}

h2 {
  @apply font-bold text-3xl;
}

h3 {
  @apply font-bold text-2xl;
}

h4 {
  @apply font-bold text-xl;
}

.post blockquote p:first-child:before,
.post * + h1:before,
.post * + h2:before,
.post * + h3:before,
.post h1 + *:before,
.post h2 + *:before,
.post h3 + *:before {
  content: "\A";
  white-space: pre;
  width: 100%;
  display: block;
}

.post p:after,
.post ul:after,
.post ol:after,
.post .highlight:after,
.post blockquote:after {
  content: "\A";
  white-space: pre;
  width: 100%;
  display: block;
}

a {
  @apply text-indigo-700 dark:text-indigo-200 underline;
}

blockquote p {
  @apply bg-gray-100 dark:bg-gray-800 text-gray-700 dark:text-gray-100 font-medium rounded-xl overflow-hidden px-8 py-6 my-6 -indent-2.5;
}

blockquote p:before {
  content: "“"
}
blockquote p:after {
  content: "“"
}

.highlight pre {
  @apply rounded-xl overflow-hidden py-8
}

img {
  @apply mb-2;
}
