<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0,width=device-width" />

  <title>
    {{ block "title" . }}
    {{ .Site.Title }}
    {{ end }}
  </title>
  <meta name="description" content="{{ .Site.Params.Description }}"/>
  <meta name="theme-color" media="(prefers-color-scheme: dark)"  content="{{ .Site.Params.ThemeColor }}"/>
  <meta name="theme-color" media="(prefers-color-scheme: light)"  content="{{ .Site.Params.BackgroundColor }}"/>

  {{ range $font := resources.Match "fonts/*.woff2" }}
    {{ with $font | resources.Fingerprint "sha512" }}
      <link rel="preload" as="font" href="{{ .Permalink }}" type="font/woff2" integrity="{{ .Data.Integrity }}" crossorigin="anonymous" />
    {{ end }}
  {{ end }}

  {{ $fontStyles := resources.Get "css/fonts.css" | resources.ExecuteAsTemplate "css/fonts.css" . | resources.Minify | resources.Fingerprint "sha512" }}
  <link rel="stylesheet" type="text/css" href="{{ $fontStyles.Permalink }}" integrity="{{ $fontStyles.Data.Integrity }}" crossorigin="anonymous" />

  {{ $style := resources.Get "css/site.css" | resources.Minify | resources.Fingerprint "sha512" }}
  <link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous"/>

  {{ $icon57x57 := resources.Get "images/apple-icon-57x57.png" | resources.Fingerprint "sha512" }}
  <link rel="apple-touch-icon" sizes="57x57" href="{{ $icon57x57.RelPermalink }}" integrity="{{ $icon57x57.Data.Integrity }}" crossorigin="anonymous"/>

  {{ $icon60x60 := resources.Get "images/apple-icon-60x60.png" | resources.Fingerprint "sha512" }}
  <link rel="apple-touch-icon" sizes="60x60" href="{{ $icon60x60.RelPermalink }}" integrity="{{ $icon60x60.Data.Integrity }}" crossorigin="anonymous"/>

  {{ $icon72x72 := resources.Get "images/apple-icon-72x72.png" | resources.Fingerprint "sha512" }}
  <link rel="apple-touch-icon" sizes="72x72" href="{{ $icon72x72.RelPermalink }}" integrity="{{ $icon72x72.Data.Integrity }}" crossorigin="anonymous"/>

  {{ $icon76x76 := resources.Get "images/apple-icon-76x76.png" | resources.Fingerprint "sha512" }}
  <link rel="apple-touch-icon" sizes="76x76" href="{{ $icon76x76.RelPermalink }}" integrity="{{ $icon76x76.Data.Integrity }}" crossorigin="anonymous"/>

  {{ $icon114x114 := resources.Get "images/apple-icon-114x114.png" | resources.Fingerprint "sha512" }}
  <link rel="apple-touch-icon" sizes="114x114" href="{{ $icon114x114.RelPermalink }}" integrity="{{ $icon114x114.Data.Integrity }}" crossorigin="anonymous"/>

  {{ $icon120x120 := resources.Get "images/apple-icon-120x120.png" | resources.Fingerprint "sha512" }}
  <link rel="apple-touch-icon" sizes="120x120" href="{{ $icon120x120.RelPermalink }}" integrity="{{ $icon120x120.Data.Integrity }}" crossorigin="anonymous"/>

  {{ $icon144x144 := resources.Get "images/apple-icon-144x144.png" | resources.Fingerprint "sha512" }}
  <link rel="apple-touch-icon" sizes="144x144" href="{{ $icon144x144.RelPermalink }}" integrity="{{ $icon144x144.Data.Integrity }}" crossorigin="anonymous"/>

  {{ $icon152x152 := resources.Get "images/apple-icon-152x152.png" | resources.Fingerprint "sha512" }}
  <link rel="apple-touch-icon" sizes="152x152" href="{{ $icon152x152.RelPermalink }}" integrity="{{ $icon152x152.Data.Integrity }}" crossorigin="anonymous"/>

  {{ $icon180x180 := resources.Get "images/apple-icon-180x180.png" | resources.Fingerprint "sha512" }}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ $icon180x180.RelPermalink }}" integrity="{{ $icon180x180.Data.Integrity }}" crossorigin="anonymous"/>

  {{ $icon192x192 := resources.Get "images/android-icon-192x192.png" | resources.Fingerprint "sha512" }}
  <link rel="icon" type="image/png" sizes="192x192" href="{{ $icon192x192.RelPermalink }}" integrity="{{ $icon192x192.Data.Integrity }}" crossorigin="anonymous"/>

  {{ $icon32x32 := resources.Get "images/favicon-32x32.png" | resources.Fingerprint "sha512" }}
  <link rel="icon" type="image/png" sizes="32x32" href="{{ $icon32x32.RelPermalink }}" integrity="{{ $icon32x32.Data.Integrity }}" crossorigin="anonymous"/>

  {{ $icon96x96 := resources.Get "images/favicon-96x96.png" | resources.Fingerprint "sha512" }}
  <link rel="icon" type="image/png" sizes="96x96" href="{{ $icon96x96.RelPermalink }}" integrity="{{ $icon96x96.Data.Integrity }}" crossorigin="anonymous"/>

  {{ $icon16x16 := resources.Get "images/favicon-16x16.png" | resources.Fingerprint "sha512" }}
  <link rel="icon" type="image/png" sizes="16x16" href="{{ $icon16x16.RelPermalink }}" integrity="{{ $icon16x16.Data.Integrity }}" crossorigin="anonymous"/>

  {{ $imagesManifest := resources.Get "images/manifest.json" | resources.Minify | resources.Fingerprint "sha512" }}
  <link rel="manifest" href="{{ $imagesManifest.RelPermalink }}" integrity="{{ $imagesManifest.Data.Integrity }}" crossorigin="anonymous"/>

  {{ $tileImage := resources.Get "images/ms-icon-144x144.png" | resources.Fingerprint "sha512" }}
  <meta name="msapplication-TileImage" content="{{ $tileImage.RelPermalink }}" integrity="{{ $tileImage.Data.Integrity }}" crossorigin="anonymous">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <meta name="msvalidate.01" content="73D1448BDBF3229D8FBD51A3222E0B3E">

  {{ $ga := resources.Get "js/ga.js" | resources.Minify | resources.Fingerprint "sha512" }}
  <script async="" src="{{ $ga.RelPermalink }}" integrity="{{ $ga.Data.Integrity }}" crossorigin="anonymous"></script>
  <script async="" src="https://www.google-analytics.com/analytics.js"></script>
</head>
