<article class="break-normal">
  <h2 class="text-2xl leading-2 mb-2 font-normal leading-2" id="title">{{ .Content }}</h2>
  <div class="text-sm font-normal dark:text-gray-500 text-gray-500 col-span-1"><time>{{ .PublishDate.Format "Jan 2, 2006" }}</time></div>
</article>